 @media (max-width: 768px){
  body.hidden{
    overflow: hidden;
  }
} 
.wrapper {
  background:#eeeeee;
  padding: 0 0 168px 0;
  position: relative;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 0 0 70px 0;
  }
}

.wrapper:before,
.wrapper:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
}

.wrapper:before {
  top: 0;
  height: 360px;
  background: center / cover url(../img/header-shadow.png);
}

.wrapper:after {
  bottom: 0;
  height: 462px;
  background: center / cover url(../img/footer-shadow.png);
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

main {
  margin: 20px 0 0 0;
  position: relative;
  z-index: 5;
}
