.wrapper {
  background: #eeeeee;
  padding: 0 0 168px 0;
  position: relative;
  width: 100%;
}

.wrapper:before,
.wrapper:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
}

.wrapper:before {
  top: 0;
  height: 360px;
  background: url(../img/header-shadow.png);
  background-position: center;
  background-repeat: repeat-x;
}

.wrapper:after {
  bottom: 0;
  height: 462px;
  background: url(../img/footer-shadow.png) center / cover;
}

.container {
  width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}

main {
  margin: 24px 0 0 0;
  position: relative;
  z-index: 5;
}