.forms {
  border-radius: 5px;
  background: #cccccc;
  color: #343434;
  font-family: "Roboto", sans-serif;
  padding: 0 32px 0 19px;
}

.forms__title {
  font-size: 24px;
  padding: 11px 0 7px;
}

.forms__body {
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
}

.forms__column {
  flex: 0 1 33.33%;
 }

.form {
  display: flex;
  flex-direction: column;
}

.form__item {
  display: flex;
  flex-direction: column;
}

.form__item label {
  padding: 0 0 6px 0;
}

.form__input {
  max-width: 130px;
  font-weight: 700;
  border: 2px solid #6f6f6f;
  padding: 6px 0 7px 20px;
  margin: 0 0 10px 0;
}

.form__input:focus-visible {
  outline: 2px solid #006c86;
  border: 2px solid transparent;
}

#input_1 {
  max-width: 281px;
}

.form__row {
  display: flex;
}

.form__item_indent {
  margin: 0 20px 0 0;
}

.form__btn {
  margin: 3px 0 32px;
}

.btn {
  width: 175px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Roboto";
  text-align: center;
  border-radius: 4px;
  background: #006c86;
  padding: 8px 0;
}

.more-inputs {
  flex: 0 0 33.33%;
  padding: 5px 0 0 0;
  align-self: center;
/*  margin-top: auto;
  margin-bottom: auto;*/
}

.more-inputs__body {
  border-radius: 4px;
  box-shadow: 1px 2px 2px rgba(1, 1, 1, 0.25);
  background: linear-gradient(0deg, #f2f2f2 0%, #ffffff 100%);
  padding: 16px 20px 20px;
  margin: 48px 0 0 0;
}

.more-inputs__parag {
  line-height: 20px;
  color: #333333;
  font-family: "Arial", sans-serif;
  margin: 0 0 10px 0;
}
.more-inputs__parag span {
  font-weight: 700;
}

.more-inputs__btn {
  display: block;
  margin: 14px auto 0;
}

@media (max-width: 768px) {
  .forms {
    background: transparent;
    padding: 0 0 20px 0;
  }
  .forms__body {
    flex-direction: column;
    align-items: stretch;
  }

  .forms__column {
    flex: 1 1 auto;
  }

  .form {
    padding: 0 0 20px 0;
  }

  .form__item {
    width: 100%;
  }

  .form__row {
    justify-content: space-between;
  }

  .form__input {
    max-width: 100%;
  }

  #input_1 {
    max-width: 100%;
  }

  .more-inputs {
    align-self: stretch;
  }
  .more-inputs__body {
    padding: 21px 20px 22px;
  }

  .more-inputs__btn {
    margin: 0;
  }
}
