.gallery__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -10px 22px;
}

.gallery__bound {
  flex: 0 1 16.66%;
  padding: 0 10px;
}

.gallery__item {
  background: #6f6f6f;
  padding: 50px 0;
  margin: 0 0 20px 0;
}

.more-item {
  display: none;
}

@media (max-width: 768px) {
  .gallery__body {
    margin: 0 -10px;
  }
  .gallery__bound {
    flex: 0 1 50%;
    display: none;
  }

  .gallery__bound.active-item {
    display: block;
  }

  .gallery__bound:nth-child(1),
  .gallery__bound:nth-child(2),
  .gallery__bound:nth-child(3),
  .gallery__bound:nth-child(4) {
    display: block;
  }

  .more-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px 0 23px;
    position: relative;
  }

  .more-item span{
    align-items: center;
    text-transform: uppercase;
    color: #006c86;
    font-weight: 700;
    font-family: "Arial", sans-serif;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px dashed #006c86;
  }

  .item-hide {
    display: none;
  }

  .item-more {
    display: none;
  }

  .item-more.show {
    display: block;
  }

  .item-hide.show {
    display: block;
  }
}
