
.header {
  font-family: 'Roboto', sans-serif;
  position: relative;
  z-index: 5;
}


/*LANGUAGES-------------------*/
.header__languages {
  /*background: #ccc;*/
  
}
.header__languages .container {
  position: relative;
}
.header__languages .container:before {
  content: '';
  position: absolute;
  width:100%;
  height: 45px;
  left: -150px;
  top: -1px;
  background: url(../img/onlay.png);
}
.languages__body {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

@media (max-width: 768px) {
  .header__languages {
    background: #ffffff;
  }

  .header__languages .container:before {
    display: none;
  }
}

.languages__row {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 5;
  background: #fff;
  padding: 10px 0;
}
.language__link {
  background: #f7f7f7;
  border-radius: 4px;
  color: #5f5f5f;
  font-size: 12px;
  padding: 6px 10px;
  margin: 0 0 0 2px;
  transition: all .8s ease;
}
.language__link:hover {
  background: #5f5f5f;
  color: #fff;
  transition: all .8s ease;
}

/*LOGO+LINKS---------------------------*/


.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  flex: 0 0 30%;
  position: relative;
}
.logo {
  position: absolute;
  left: 10px;
  top: -53px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 275px;
  height: 72px;
  border-radius: 50%;
  background: #969696;
  font-size: 36px;
  color: #ffffff;
  font-weight: 700;
}
@media (max-width: 768px) {
  .header__row {
    flex-direction: column;
    align-items: stretch;
  }
  .header__logo{
    flex: 0 1 100%;
    padding: 20px 0 8px;
  }
  .logo {
    position: relative;
    border-radius: 0;
    width: 100%;
    height: 102px;
    left: inherit;
    top: inherit;
  }
}
.header__links {
  flex: 0 1 70%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 16px 0 0 30px;
}

@media (max-width: 768px) {
  .header__links {
    flex-direction: column;
     padding: 16px 0 0 50px;
  }
}
.header__item-link {
  flex: 0 1 33.33%;
  margin: 0 0 10px 0;
  position: relative;
}
@media (max-width: 992px) {
  .header__item-link {
    flex: 0 1 45%;
  }
}
.header__item-link:before {
  content: '';
  position: absolute;
  width: 14px;
  height: 13px;
  left: 0;
  top: -2px;
  background: url(../img/pixel.png);
}

@media (max-width: 768px) {
  .header__item-link {
    padding: 0;
    margin: 0 0 16px 0;
  }
  .header__item-link:before {
    left: 0;
  }
}
.header__link {
  font-size: 12px;
  padding: 0 0 0 20px;
  display: inline-block;
  text-transform: uppercase;
  color: #333333;
  transition: all .8s ease;
}
.header__link:hover {
  color: #006c86;
  transition: all .8s ease;
}
