@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}


.wrapper {
  background: #e1e1e3;
  padding: 0 0 168px 0;
}
.container {
  width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}

/*HEADER-----------------------------*/
.header {
  font-family: 'Roboto', sans-serif;
}
.header__languages {
  background: #ccc;
  padding: 10px 0;
}
.header__languages .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.header__languages .container:before {
  content: '';
  position: absolute;
  width: 310px;
  height: 30px;
  left: 7px;
  bottom: -12px;
  background: url(../img/onlay.png);
}
.header__language {
  background: #f7f7f7;
  border-radius: 4px;
  color: #5f5f5f;
  font-size: 12px;
  padding: 6px 10px;
  margin: 0 0 0 2px;
  transition: all .5s ease;
}
.header__language:hover {
  background: #5f5f5f;
  color: #fff;
  transition: all .5s ease;
}
.header__row {
  background: #e1e1e3;
}
.header__row .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  flex: 0 0 28%;
}
.header__links {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 0 0;
}
.header__item-link {
  flex: 0 1 33.33%;
  padding: 0 0 0 25px;
  margin: 0 0 11px 0;
  position: relative;
}
.header__item-link:before {
  content: '';
  position: absolute;
  width: 14px;
  height: 13px;
  left: 25px;
  top: -2px;
  background: url(../img/pixel.png);
}
.header__link {
  font-size: 12px;
  padding: 0 0 0 20px;
  display: block;
  text-transform: uppercase;
  color: #333333;
}
.header__link:hover {
  color: #006c86;
}

/*MENU-------------------------------------*/
.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__item {
  flex: 1 1 auto;
  text-align: center;
  background: #5f5f5f;
  position: relative;
  border-left: 1px solid #AB93C3;
  border-right: 1px solid #AB93C3;
  transition: all .5 ease;
}
.menu__item:first-child {
  border-left: 1px solid transparent;
}
.menu__item:last-child {
  border-right: 1px solid transparent;
}
.menu__item:hover {
  background: #a9a9a9;
  border-left: 1px solid #a9a9a9;
  border-right: 1px solid #a9a9a9;
  transition: all .5 ease;
}
.menu__link {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 12px;
  padding: 15px;
  color: #ffffff;
  display: block;
  font-family: 'Roboto', sans-serif;
}

/*MAIN--------------------------------*/

/*CARDS--------------------------------*/
.cards {}
.cards__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -10px;
  padding: 28px 0;
}
.cards__bound {
  flex: 0 1 33.33%;
  padding: 0 10px;
}
.cards__item {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  align-items: stretch;
}
.card__image {
  color: #959595;
  padding: 85px 0;
} 
.card__content {
  padding: 0 20px;
}
.card__title {
  font-size: 18px;
  line-height: 12px;
  color: #000000;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  margin: 20px 0 0 0;
}
.caard__text {
  font-size: 13px;
  color: #333333;
  font-family: "Arial", sans-serif;
  margin: 13px 0 17px;
}
/*GALLERY------------------------------*/
.gallery__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -10px 20px;
}
.gallery__bound {
  flex: 0 1 16.66%;
  padding: 0 10px;
}
.gallery__item {
  background: #6f6f6f;
  padding: 50px 0;
  margin: 0 0 20px 0;
}

/*FOOTER-------------------------------*/
.footer__bg {
  background: #B9B9B9;
  border-radius: 5px;
  padding: 35px 20px 0 20px;
  position: relative;
}

.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -15px;
  position: relative;
}
.footer__body:before {
  content: '';
  position: absolute;
  left: 15px;
  top: -10px;
  right: 15px;
  height: 2px;
  background: #727272;
}

.footer__item {
  flex: 0 0 33.33%;
  padding: 0 15px;
  margin: 0 0 18px 0;
}

.footer__content {
  background: #cccccc;
  padding: 20px 0;
}

.footer__content_white {
  background: #fff;
}
.footer__item:nth-child(1),
.footer__item:nth-child(2),
.footer__item:nth-child(3) {
  margin: 0 0 16px 0;
}
.footer__content_line {
  position: relative;
}

.footer__content_line:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 2px;
  background: #727272;
}
@media (max-width: 768px) {
  .footer__body:before {
    display: none;
  }
  .footer__bg {
    padding: 35px 20px 15px 20px;
  }
  .footer__body {
    flex-direction: column;
    align-items: stretch;
    margin: 0;
  }
  .footer__item {
    flex: 1 0 100%;
    padding: 0;
    margin: 0 0 20px 0;
  }
  .footer__item:nth-child(1),
  .footer__item:nth-child(2),
  .footer__item:nth-child(3) {
    margin: 0 0 18px 0;
  }
  .footer__content_line:before {
    display: none;
  }
}